* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background-color: #ccc;

	font: 12px sans-serif;
}
:root {
	--col-gap: 3px;
	--base-gap: 15px;
	--active-color: rgb(136, 3, 148);
	--scrollbar-width: 2rem;

	--zoomer-width: 500px;

	/* defaults */
	--columns-shown: 11;
	--columns-hidden: 0;
	--column-max-width: calc((100vw - var(--zoomer-width)) / (var(--columns-shown) + 1));
}

main {
	display: grid;
	grid-template-columns: var(--zoomer-width) 1fr;
	grid-template-rows: min-content min-content 1fr;
	/* gap: var(--base-gap); */
	grid-template-areas:
		"main-controls columns"
		"zoomer columns"
		"controls columns"
	;
}
#main-controls { grid-area: main-controls; }
#zoomer { grid-area: zoomer; }
#columns { grid-area: columns; }
#controls { grid-area: controls; }
.hidden-zoomer main {
	grid-template-areas:
		"main-controls"
		"columns"
		"controls"
		"zoomer"
	;
}
/* .hidden-zoomer #zoomer {
	display: none;
} */

#controls {
	margin: var(--col-gap);
}

#zoomer {
	/* height: calc(100vh - var(--scrollbar-width)); */
	overflow-y: auto;
}
#zoomer img {
	width: 100%;
}

#columns {
	display: flex;
	margin-left: var(--base-gap);
}
#columns > section {
	display: flex;
}

.column {
	margin-left: var(--col-gap);
	max-width: var(--column-max-width);
	min-width: 8em;
}
.column img {
	/*
	max-height: 95vh;
	max-width: var(--column-max-width);
	*/
	width: 100%;
}

.column h2 {
	text-align: center;
	margin: 0;	
}
.column.keyword h2 {
	color: #333;
	font-style: italic;
}

/* states */
.column h2 {
	cursor: pointer;
	user-select: none;
}
.column h2:hover {
	color: var(--active-color);
	background-image: url(img/eye-no.svg);
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 90% center;
}
.column.done h2:hover {
	background-image: none;
}

.column.done {
	min-width: 1.5em;
	width: 40px;
	overflow: hidden;
}
.column.done img {
	opacity: .5;
}
.column h2 {
	line-height: 1.5rem;
}
.column.done h2 {
	font-size: small;
}
.column.done h2 em {
	display: none;
}

.column.active h2 {
	outline: 3px dotted var(--active-color);
	outline-offset: -3px;
}

.column img.done-cell {
	/*
	opacity: .8;
	filter: grayscale(80%);
	outline: 4px solid green;
	outline-offset: -4px;
	*/
	outline: 200px solid rgba(0,255,0,0.3);
	outline-offset: -200px;
	border: 4px solid darkgreen;
	box-sizing: border-box;
	border-radius: 5px;
	width: 33%;
}

/* view all mode (temporary reset of done state) */
.view-all .column img.done-cell {
	width: 100%;
}
.view-all .column.done {
	min-width: inherit;
	width: auto;
	overflow: auto;
}

/* zoomer list related (multi-zoom) */
.column img.zoomer-list {
	border: 4px solid orange;
	box-sizing: border-box;
	border-radius: 5px;
}
#zoomer-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}
#zoomer-list img {
	object-fit: contain;
	background-color: rgb(50,50,50);
	border: 1px solid orange;
	width: 100%;
	height: 100%;
}
#zoomer.small #zoomer-list {
	grid-template-columns: repeat(6, 1fr);
}
#zoomer.medium5 #zoomer-list {	grid-template-columns: repeat(5, 1fr); }
#zoomer.medium4 #zoomer-list {	grid-template-columns: repeat(4, 1fr); }
#zoomer.medium3 #zoomer-list {	grid-template-columns: repeat(3, 1fr); }
#zoomer.medium2 #zoomer-list {	grid-template-columns: repeat(2, 1fr); }
#zoomer.big #zoomer-list {
	grid-template-columns: 1fr;
}
#zoomer-list-controls {
	margin-bottom: var(--col-gap);
}
#zoomer figure {
    display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;
}
#zoomer figcaption {
	text-align: center;
	padding: .1em 0 .2em;
}
