* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background-color: #ccc;

	font: 12px sans-serif;
}

main {
	display: grid;
	grid-template-columns: 500px 1fr;
	--col-gap: 3px;
	--base-gap: 15px;
	--active-color: rgb(136, 3, 148);
}

#zoomer {
	height: calc(100vh - var(--scrollbar-width));
	overflow-y: auto;
}
#zoomer img {
	width: 100%;
}

#columns {
	display: flex;
}
#columns > section {
	display: flex;
	margin-left: var(--base-gap);
}

.column {
	margin-left: var(--col-gap);
}
.column img {
	max-height: 88vh;
}

.column h2 {
	text-align: center;
	margin: 0;	
}
.column.keyword h2 {
	color: #333;
	font-style: italic;
}

/* states */
.column h2 {
	cursor: pointer;
	user-select: none;
}
.column h2:hover {
	color: var(--active-color);
}

.column.done {
	width: 15px;
	overflow: hidden;
}
.column.done img {
	opacity: .5;
}
.column h2 {
	line-height: 1.5rem;
}
.column.done h2 {
	font-size: small;
}

.column.active h2 {
	outline: 3px dotted var(--active-color);
	outline-offset: -3px;
}